body {
    background-color: darkgray;
}

header.theme2-header {
    background-color: #333333;
    color: #ffffff;
}

footer.theme2-footer {
    background-color: #333333;
    color: #ffffff;
}
